<web-app>
  <display-name>Hession</display-name>
  <servlet>
		 <servlet-name>hessianHello</servlet-name>
		 <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
		 <!-- 自定义spring mvc的配置文件名称和路径 -->
		 <init-param>
			 <param-name>home-class</param-name>
			 <param-value>com.chen.hessian.imp.HessionApiImp</param-value>
		 </init-param>
		 <init-param>
		 	<param-name>home-api</param-name>
		 	<param-value>com.chen.hessian.api.HessianApi</param-value>
		 </init-param>
		 <load-on-startup>1</load-on-startup>
	 </servlet>

	 <servlet-mapping>
	 	<servlet-name>hessianHello</servlet-name>
	 	<url-pattern>/hessian</url-pattern>
	 </servlet-mapping>
</web-app>
