<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="com.chen.*" />
    
    <bean id="myOb" class="com.chen.observer.FileObserver">
    	<property name="dirPath" value="/home/hadoop/test" />
    	<property name="fileName" value="chen" />
    </bean>
    
<!--     <bean id="FileMonitor" class="org.apache.commons.io.monitor.FileAlterationMonitor"> -->
<!--     	<property name="interval" value="5000" /> -->
<!--     	<property name="observers" ref="myOb" /> -->
<!--     </bean> -->
    
</beans>